{{- $scratch := newScratch -}}
{{- $image := resources.Get "images/og-image.jpg" -}}
{{- $text := .Title -}}
{{- if .IsHome -}}
  {{- $text = "รวมเว็บฟอนต์ไทย" -}}
{{- end -}}
{{- $fontURL := "https://cdn.lazywasabi.net/thai-web-fonts/fonts/Loma/OTF/Loma-Regular.otf" -}}
{{- if and ( eq .Section "fonts" ) ( .IsPage ) -}}
  {{- $fontURL = printf "https://cdn.lazywasabi.net/thai-web-fonts/fonts/%s/%s" .Params.font.namespace .Params.font.previewFile -}}
  {{- $text = .Params.font.title -}}
  {{- if eq .Title "Droid Sans Thai" -}}
    {{- $text = .Params.font.titleThai -}}
  {{- end -}}
{{- end -}}
{{- with $fontFile := resources.GetRemote $fontURL }}
  {{- $image := $image.Filter (images.Text $text (dict
    "font" $fontFile
    "color" "#000"
    "size" 120
    "linespacing" 0
    "x" 100
    "y" 220
    ))
  -}}
  {{ $scratch.Set "image" $image }}
{{- end -}}
{{- $ogImage := $scratch.Get "image" -}}


<meta property="og:image" content="{{ $ogImage.RelPermalink }}" />
<meta name="twitter:card" content="summary_large_image" />
