<h2 class="mt-5 h1 text-center">ฟอนต์ยอดนิยม</h2>
<div class="font-list row row-cols-1 row-cols-sm-2 row-cols-xxl-4 gy-4 mt-1 text-start">
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/noto-sans-thai/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'Noto Sans Thai Preview';">
            <p class="fs-1 text-truncate m-0 text-body">โนโต แซนส์ ไทย</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            Noto Sans Thai
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/kanit/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'Kanit Preview';">
            <p class="fs-1 text-truncate m-0 text-body">คณิต</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            Kanit
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/line-seed-sans-th/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'LINE Seed Sans TH Preview';">
            <p class="fs-1 text-truncate m-0 text-body">ไลน์ ซี้ด แซนส์ ไทย</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            LINE Seed Sans TH
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/anuphan/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'Anuphan Preview';">
            <p class="fs-1 text-truncate m-0 text-body">อนุพันธ์</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            Anuphan
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/boonjot/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'BoonJot Preview';">
            <p class="fs-1 text-truncate m-0 text-body">บุญจด</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            BoonJot
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/chulabhorn-likit-text/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'Chulabhorn Likit Text Preview';">
            <p class="fs-1 text-truncate m-0 text-body">จุฬาภรณ์ลิขิต เท็กซ์</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            Chulabhorn Likit Text
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card bg-hover">
      <a class="text-decoration-none" href="/fonts/ibm-plex-sans-thai/">
        <div class="card-body">
          <div class="mb-3" style="font-family: 'IBM Plex Sans Thai Preview';">
            <p class="fs-1 text-truncate m-0 text-body">ไอบีเอ็ม เพล็กซ์ แซนส์ ไทย</p>
          </div>
          <h3 class="card-title text-body text-truncate h6 lh-base m-0">
            IBM Plex Sans Thai
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col d-flex">
    <a class="text-decoration-none d-flex flex-grow-1" href="/fonts/">
      <div class="card bg-hover flex-row flex-grow-1 align-items-center">
        <div class="card-body text-center">
          <h3 class="card-title text-body text-truncate h3 lh-base m-0 fw-normal">
            ดูฟอนต์ทั้งหมด <svg class="bi"><use href="#arrow-right"></use></svg>
          </h3>
        </div>
      </div>
    </a>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
  </symbol>
</svg>