<div class="card">
  <div class="card-body fs-2">
    <p>
      แม่น้ำบางปะกงแหล่งชีวิต พระศักดิ์สิทธิ์หลวงพ่อโสธร พระยาศรีสุนทรปราชญ์ภาษาไทย เขาอ่างฤๅไนป่าสมบูรณ์
    </p>
    <p class="mb-0 old-noto-thai-looped">
      แม่น้ำบางปะกงแหล่งชีวิต พระศักดิ์สิทธิ์หลวงพ่อโสธร พระยาศรีสุนทรปราชญ์ภาษาไทย เขาอ่างฤๅไนป่าสมบูรณ์
    </p>
  </div>
</div>

<style>
  @font-face {
    font-family: 'Noto Sans Thai Looped Old';
    src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7.3.0/fonts/NotoSansThaiLooped/NotoSansThaiLooped-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  .old-noto-thai-looped {
    font-family: 'Noto Sans Thai Looped Old';
  }
</style>