<div class="card mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="noto-looped-all-tab" data-bs-toggle="tab" data-bs-target="#noto-looped-all" type="button" role="tab" aria-controls="noto-looped-all" aria-selected="true">แสดงทั้งคู่ (บนใหม่ ล่างเก่า)</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="noto-looped-new-tab" data-bs-toggle="tab" data-bs-target="#noto-looped-new" type="button" role="tab" aria-controls="noto-looped-new" aria-selected="false">เวอร์ชันใหม่</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="noto-looped-old-tab" data-bs-toggle="tab" data-bs-target="#noto-looped-old" type="button" role="tab" aria-controls="noto-looped-old" aria-selected="false">เวอร์ชันเก่า</button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="noto-looped-all" role="tabpanel" aria-labelledby="noto-looped-all-tab" tabindex="0">
          <p class="fs-2">
            แม่น้ำบางปะกงแหล่งชีวิต พระศักดิ์สิทธิ์หลวงพ่อโสธร พระยาศรีสุนทรปราชญ์ภาษาไทย เขาอ่างฤๅไนป่าสมบูรณ์
          </p>
          <p class="fs-2 old-noto-thai-looped">
            แม่น้ำบางปะกงแหล่งชีวิต พระศักดิ์สิทธิ์หลวงพ่อโสธร พระยาศรีสุนทรปราชญ์ภาษาไทย เขาอ่างฤๅไนป่าสมบูรณ์
          </p>
        </div>
        <div class="tab-pane fade" id="noto-looped-new" role="tabpanel" aria-labelledby="noto-looped-new-tab" tabindex="0">
          <p class="fs-2">
            แม่น้ำบางปะกงแหล่งชีวิต พระศักดิ์สิทธิ์หลวงพ่อโสธร พระยาศรีสุนทรปราชญ์ภาษาไทย เขาอ่างฤๅไนป่าสมบูรณ์
          </p>
        </div>
        <div class="tab-pane fade" id="noto-looped-old" role="tabpanel" aria-labelledby="noto-looped-old-tab" tabindex="0">
          <p class="fs-2 old-noto-thai-looped">
            แม่น้ำบางปะกงแหล่งชีวิต พระศักดิ์สิทธิ์หลวงพ่อโสธร พระยาศรีสุนทรปราชญ์ภาษาไทย เขาอ่างฤๅไนป่าสมบูรณ์
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    @font-face {
      font-family: 'Noto Sans Thai Looped Old';
      src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7.3.0/fonts/NotoSansThaiLooped/NotoSansThaiLooped-Regular.woff2') format('woff2');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
    }
  
    .old-noto-thai-looped {
      font-family: 'Noto Sans Thai Looped Old', sans-serif;
    }
  </style>