<div class="alert alert-success d-inline-block mt-4" role="alert">
  <h4 class="alert-heading">ใหม่ในเวอร์ชัน 7.1.0</h4>
  <ul class="text-start ps-4 mb-0">
    <li>
      3 ฟอนต์ใหม่:
      <a href="/fonts/norasi/" class="alert-link fw-semibold">Norasi</a>,
      <a href="/fonts/purisa/" class="alert-link fw-semibold">Purisa</a> และ
      <a href="/fonts/sawasdee/" class="alert-link fw-semibold">Sawasdee</a>
    </li>
    <li>
      <a href="/fonts/#noto-sans-thai" class="alert-link fw-semibold"
        >ฟอนต์ Noto Thai</a
      >
      ทั้ง 3 ฟอนต์รองรับตัวอักษรละตินแล้ว
    </li>
    <li>
      รองรับ variable fonts ในฟอนต์
      <a href="/fonts/noto-sans-thai/" class="alert-link fw-semibold"
        >Noto Sans Thai</a
      >
      และ
      <a href="/fonts/noto-serif-thai/" class="alert-link fw-semibold"
        >Noto Serif Thai</a
      >
    </li>
  </ul>
</div>
