{{ $font := .Params.font }}

<style>
  {{- if $font.variable }}
    {{- if and $font.variable.weight $font.variable.width }}
      {{- partial "font/font-face-var.html" (dict "Page" $ "font" $font "variable" "wdth,wght") | safeCSS -}}
    {{ else if $font.variable.weight }}
      {{- partial "font/font-face-var.html" (dict "Page" $ "font" $font "variable" "wght") | safeCSS -}}
    {{ else if $font.variable.width }}
      {{- partial "font/font-face-var.html" (dict "Page" $ "font" $font "variable" "wdth") | safeCSS -}}
    {{ end }}
  {{ else }}
    {{- partial "font/font-face.html" . | safeCSS -}}
  {{ end -}}

  .font-preview-content {
    font-family: '{{ $font.title }}', {{ $font.type }};
    font-weight: {{ with $font.weight.default }}{{ . }}{{ else }}400{{ end }};
  }
</style>
<div class="d-flex justify-content-between align-items-center mt-4 mb-2">
  <h2 class="mb-0">ทดลองฟอนต์</h2>
  <div class="btn-group" role="group">
    <button
      title="รีเซ็ตเป็นค่าเริ่มต้น"
      type="button"
      class="btn btn-subtle d-flex align-items-center gap-2"
      onclick="setSize(fontSize);setWeight('default');setWidth(100)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.1em"
        height="1.1em"
        fill="currentColor"
        class="bi bi-arrow-counterclockwise"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
        />
        <path
          d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
        />
      </svg>
    </button>
    <button
      title="สุ่มข้อความตัวอย่างใหม่"
      type="button"
      class="btn btn-subtle d-flex align-items-center gap-2"
      onclick="randomPreview()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.1em"
        height="1.1em"
        fill="currentColor"
        class="bi bi-shuffle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"
        />
        <path
          d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"
        />
      </svg>
    </button>
  </div>
</div>
<div
  class="row gy-4 twf-font-preview {{ if $font.variable -}}
    twf-font-preview-variable
  {{- end }}"
>
  <div class="twf-font-preview-settings col-12 col-sm-4 col-lg-3">
    <div class="twf-font-preview-settings-size">
      <label for="previewSize"
        >ขนาด (<span id="previewSizeValue">28</span>px)</label
      >
      <input
        class="form-range h-auto"
        id="previewSize"
        type="range"
        min="10"
        max="100"
        step="1"
        value="28"
        oninput="setSize(this.value)"
      />
    </div>
    {{- with $font.weight -}}
      <div class="twf-font-preview-settings-weight mt-2">
        <div class="row align-items-center">
          <div class="col">
            <label for="previewWeight"
              >น้ำหนัก
              {{ if $font.variable -}}
                (<span id="previewWeightValue">400</span>)
              {{- end }}</label
            >
          </div>
          <div class="{{ if $font.variable }}col-auto{{ else }}col-12{{ end }}">
            <div class="dropdown twf-font-preview-settings-weight-dropdown">
              <button
                data-default-weight="{{- with $font.weight.default -}}
                  {{- . -}}
                {{- else -}}
                  400
                {{- end -}}"
                class="btn btn-outline-secondary dropdown-toggle {{ if $font.variable -}}
                  btn-sm
                {{- else -}}
                  d-flex w-100 align-items-center justify-content-between mt-2
                {{- end }}"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{- if not $font.variable -}}
                  {{ $weightDefault := "Regular (400)" -}}
                  {{- if eq $font.weight.default 500 -}}
                    {{ $weightDefault = "Medium (500)" -}}
                  {{- end -}}
                  <span>{{- $weightDefault -}}</span>
                {{- end -}}
              </button>
              <ul class="dropdown-menu w-100">
                {{- range .weight -}}
                  {{- $weight := . -}}
                  {{- if eq $weight 100 }}
                    {{- $weight = "Thin (100)" -}}
                  {{ end -}}
                  {{- if eq $weight 200 }}
                    {{- $weight = "Extra Light (200)" -}}
                  {{ end -}}
                  {{- if eq $weight 300 }}
                    {{- $weight = "Light (300)" -}}
                  {{ end -}}
                  {{- if eq $weight 400 }}
                    {{ $weight = "Regular (400)" -}}
                  {{ end -}}
                  {{- if eq $weight 500 }}
                    {{- $weight = "Medium (500)" -}}
                  {{ end -}}
                  {{- if eq $weight 600 }}
                    {{- $weight = "Semi Bold (600)" -}}
                  {{ end -}}
                  {{- if eq $weight 700 }}
                    {{ $weight = "Bold (700)" }}
                  {{ end -}}
                  {{- if eq $weight 800 }}
                    {{ $weight = "Extra Bold (800)" }}
                  {{ end -}}
                  {{- if eq $weight 900 }}
                    {{- $weight = "Black (900)" -}}
                  {{- end -}}
                  <li>
                    <button
                      class="dropdown-item"
                      type="button"
                      data-value="{{ . }}"
                      onclick="setWeight(this.dataset.value,this.textContent)"
                    >
                      {{- $weight -}}
                    </button>
                  </li>
                {{- end -}}
              </ul>
            </div>
          </div>
          {{ if $font.variable.weight }}
            <div class="col-12">
              <input
                class="form-range h-auto"
                id="previewWeight"
                type="range"
                min="{{ $font.variable.weight.min }}"
                max="{{ $font.variable.weight.max }}"
                step="1"
                value="400"
                oninput="setWeight(this.value)"
              />
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ if $font.variable.width }}
      <div class="twf-font-preview-settings-width mt-2">
        <div class="row align-items-center">
          <div class="col">
            <label for="previewWidth"
              >ความกว้าง (<span id="previewWidthValue">100</span>%)</label
            >
          </div>
          <div class="col-auto">
            <div class="dropdown">
              <button
                class="btn btn-outline-secondary dropdown-toggle {{ if $font.variable -}}
                  btn-sm
                {{- end }}"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></button>
              <ul class="dropdown-menu">
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    data-value="62.5"
                    onclick="setWidth(this.dataset.value)"
                  >
                    Extra Condensed (62.5%)
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    data-value="75"
                    onclick="setWidth(this.dataset.value)"
                  >
                    Condensed (75%)
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    data-value="87.5"
                    onclick="setWidth(this.dataset.value)"
                  >
                    Semi Condensed (87.5%)
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    data-value="100"
                    onclick="setWidth(this.dataset.value)"
                  >
                    Normal (100%)
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <input
              class="form-range h-auto"
              id="previewWidth"
              type="range"
              min="{{ $font.variable.width.min }}"
              max="{{ $font.variable.width.max }}"
              step="0.5"
              value="100"
              oninput="setWidth(this.value)"
            />
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="col">
    <div
      class="font-preview-content h-100 bg-secondary rounded border bg-opacity-10 p-3"
      style="font-size: 28px;"
      contenteditable=""
      spellcheck="false"
    >
      กรุงเทพฯ ดุจเทพสร้าง เมืองศูนย์กลางการปกครอง วัดวังงามเรืองรอง
      เมืองหลวงของประเทศไทย
    </div>
  </div>
</div>
