{{ $font := .Params.font }}
{{ $fontCSSWght := printf `https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@%s/fonts/%s/var/%s[wght].css` $.Site.Params.twfVersionMajor $font.namespace $font.namespace }}
{{ $fontCSSWdthWght := printf `https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@%s/fonts/%s/var/%s[wdth,wght].css` $.Site.Params.twfVersionMajor $font.namespace $font.namespace }}
{{ $codeLinkWght := printf `<link href="%s" rel="stylesheet" />` $fontCSSWght }}
{{ $codeLinkWdthWght := printf `<link href="%s" rel="stylesheet" />` $fontCSSWdthWght }}
{{ $codeImportWght := printf `@import '%s';` $fontCSSWght }}
{{ $codeImportWdthWght := printf `@import '%s';` $fontCSSWdthWght }}

{{ define "partials/font-code-var-wght" }}
  <p class="mt-3">
    <strong class="fw-semibold">ตัวเลือกที่ 1:</strong> ปรับได้เฉพาะน้ำหนัก
    (weight)
  </p>
{{ end }}

{{ define "partials/font-code-var-wdthwght" }}
  <p>
    <strong class="fw-semibold">ตัวเลือกที่ 2:</strong> ปรับได้ทั้งน้ำหนัก
    (weight) และความกว้าง (width)
  </p>
{{ end }}


<div class="twf-font-snippets twf-font-snippets-variable">
  <div class="nav nav-tabs" id="font-code" role="tablist">
    <button
      class="nav-link active"
      id="code-link-var-tab"
      data-bs-toggle="tab"
      data-bs-target="#code-link-var"
      type="button"
      role="tab"
      aria-controls="code-link-var"
      aria-selected="true"
    >
      &lt;link&gt;
    </button>
    <button
      class="nav-link"
      id="code-font-face-var-tab"
      data-bs-toggle="tab"
      data-bs-target="#code-font-face-var"
      type="button"
      role="tab"
      aria-controls="code-font-face-var"
      aria-selected="false"
    >
      @font-face
    </button>
    <button
      class="nav-link"
      id="code-import-var-tab"
      data-bs-toggle="tab"
      data-bs-target="#code-import-var"
      type="button"
      role="tab"
      aria-controls="code-import-var"
      aria-selected="false"
    >
      @import
    </button>
  </div>
  <div class="tab-content" id="font-codeVariable">
    <div
      class="tab-pane show active"
      id="code-link-var"
      role="tabpanel"
      aria-labelledby="code-link-var-tab"
      tabindex="0"
    >
      {{ partialCached "font-code-var-wght" . }}
      {{ transform.Highlight $codeLinkWght "html" }}
      {{ if and $font.variable.width $font.variable.weight }}
        {{ partialCached "font-code-var-wdthwght" . }}
        {{ transform.Highlight $codeLinkWdthWght "html" }}
      {{ end }}
    </div>
    <div
      class="tab-pane"
      id="code-font-face-var"
      role="tabpanel"
      aria-labelledby="code-font-face-var-tab"
      tabindex="0"
    >
      {{ partialCached "font-code-var-wght" . }}
      {{ $codeFontFace := trim ( partial "font/font-face-var.html" (dict "Page" $ "font" $font "variable" "wght") ) "\n" }}
      {{ transform.Highlight $codeFontFace "css" }}
      {{ if and $font.variable.width $font.variable.weight }}
        {{ partialCached "font-code-var-wdthwght" . }}
        {{ $codeFontFace = trim ( partial "font/font-face-var.html" (dict "Page" $ "font" $font "variable" "wdth,wght") ) "\n" }}
        {{ transform.Highlight $codeFontFace "css" }}
      {{ end }}
    </div>
    <div
      class="tab-pane"
      id="code-import-var"
      role="tabpanel"
      aria-labelledby="code-import-var-tab"
      tabindex="0"
    >
      {{ partialCached "font-code-var-wght" . }}
      {{ transform.Highlight $codeImportWght "css" }}
      {{ if and $font.variable.width $font.variable.weight }}
        {{ partialCached "font-code-var-wdthwght" . }}
        {{ transform.Highlight $codeImportWdthWght "css" }}
      {{ end }}
    </div>
  </div>
</div>
