{{ $font := .Params.font.namespace }}
{{ $snippet_link := print "/static/snippets/" $font "/" $font "-link.html" }}
{{ $snippet_fontface := print "/static/snippets/" $font "/" $font "-font-face.css" }}
{{ $snippet_import := print "/static/snippets/" $font "/" $font "-import.css" }}
{{ $snippet_files := print "/static/snippets/" $font "/" $font "-files.txt" }}
{{ $snippet_family := print "font-family: '" .Params.font.title "', " .Params.font.type ";" }}

{{ "## การใช้งาน {#use}" | .RenderString }}
<p>เลือกวิธีใช้งานฟอนต์นี้ในเว็บไซต์ของคุณ:</p>
<div class="gdoc-tabs">
  <input
    type="radio"
    class="gdoc-tabs__control hidden"
    name="tabs-snippet"
    id="tabs-snippet-0"
    checked="checked"
  />
  <label for="tabs-snippet-0" class="gdoc-tabs__label">&lt;link&gt;</label>
  <div class="gdoc-markdown--nested gdoc-tabs__content">
    {{- highlight ($snippet_link | readFile) "html" -}}
  </div>
  <input
    type="radio"
    class="gdoc-tabs__control hidden"
    name="tabs-snippet"
    id="tabs-snippet-1"
  />
  <label for="tabs-snippet-1" class="gdoc-tabs__label">@font-face</label>
  <div class="gdoc-markdown--nested gdoc-tabs__content">
    {{- highlight ($snippet_fontface | readFile) "css" -}}
  </div>
  <input
    type="radio"
    class="gdoc-tabs__control hidden"
    name="tabs-snippet"
    id="tabs-snippet-2"
  />
  <label for="tabs-snippet-2" class="gdoc-tabs__label">@import</label>
  <div class="gdoc-markdown--nested gdoc-tabs__content">
    {{- highlight ($snippet_import | readFile) "css" -}}
  </div>
</div>
<p>ใช้ CSS ด้านล่างนี้เพื่อกำหนดฟอนต์:</p>
{{- highlight $snippet_family "css" -}}
{{ "## รายชื่อไฟล์ที่ใช้งานได้ {#list}" | .RenderString }}
{{- highlight ($snippet_files | readFile) "plaintext" -}}
{{ "## ข้อมูลฟอนต์ {#info}" | .RenderString }}
<p>
  <ul>
    {{ if .Params.font.thaifaces }}
    <li>
      ไทยเฟซ: {{ .Params.font.thaifaces | .RenderString }}
    </li>
    {{ end }}
    {{ if .Params.font.website }}
    <li>
      เว็บไซต์: {{ .Params.font.website | .RenderString }}
    </li>
    {{ end }}
    {{ if .Params.font.source }}
    <li>
      ซอร์สโค้ด: {{ .Params.font.source | .RenderString }}
    </li>
    {{ end }}
    {{ if .Params.font.license }}
    <li>
      สัญญาอนุญาต: {{ .Params.font.license | .RenderString }}
    </li>
    {{ end }}
  </ul>
</p>
