<div class="font-preview-settings">
  <div class="font-preview-settings-size">
    <label for="preview-font-size"
      >ขนาด (<span id="font-size-value">26</span>px)</label
    >
    <input
      type="range"
      id="preview-font-size"
      min="10"
      max="72"
      step="1"
      value="26"
      oninput="document.querySelector('#font-size-value').textContent=this.value;document.querySelector('.font-preview-content').style.fontSize=this.value + 'px';"
    />
  </div>
  <div class="font-preview-settings-weight">
    {{- with .Params.font.weight.weight -}}
      <label for="preview-font-weight">น้ำหนัก</label>
      <select
        id="preview-font-weight"
        oninput="document.querySelector('.font-preview-content').style.fontWeight=this.value;"
      >
        {{- range . }}
          <option
            value="{{ . }}"
            {{ if eq $.Params.font.weight.default . }}
              selected
            {{ else if eq 400 . }}
              selected
            {{ end }}
          >
            {{ . }}
          </option>
        {{- end -}}
      </select>
    {{ end }}
  </div>
</div>
