<p>
  {{ with .Params.font.download }}
    <span
      style="background:var(--button-background);color:#f8f9fa;"
      class="gdoc-button gdoc-button--regular"
    >
      <a href="{{ . }}" class="gdoc-button__link"
        ><strong>ดาวน์โหลดฟอนต์นี้</strong></a
      >
    </span>
  {{ end }}
  <span class="gdoc-button gdoc-button--regular">
    <a
      href="https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/{{ .Params.font.namespace }}/"
      class="gdoc-button__link"
      >ดูบน jsDelivr</a
    >
  </span>
  <span class="gdoc-button gdoc-button--regular">
    <a
      href="https://github.com/lazywasabi/thai-web-fonts/tree/main/fonts/{{ .Params.font.namespace }}"
      class="gdoc-button__link"
      >ดูบน GitHub</a
    >
  </span>
</p>
