{{ define "main" }}
  <article class="text-center">
    <div>
      <h1>รวมฟอนต์ภาษาไทย พร้อมใช้งานผ่าน CDN</h1>
      {{ .Content }}
    </div>
    <div class="row g-2 justify-content-center mt-4">
      <div class="col-12 col-sm-auto">
        <a class="btn btn-lg btn-primary w-100" href="/fonts/" role="button"
          >ดูฟอนต์ทั้งหมด</a
        >
      </div>
      <div class="col-12 col-sm-auto">
        <a
          class="btn btn-lg btn-outline-secondary w-100"
          href="/docs/getting-started/"
          role="button"
          >เริ่มต้นใช้งาน</a
        >
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="col-12 col-sm-6 col-xl-3">
        <h3 class="h2">45+ ฟอนต์</h3>
        <p>รวมฟอนต์ไทยให้เลือกใช้ 49 ฟอนต์</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h3 class="h2">CDN</h3>
        <p>
          CDN โดย
          <a
            href="https://www.jsdelivr.com/"
            target="_blank"
            rel="noopener noreferrer"
            >jsDelivr</a
          >
          โหลดเร็วทุกที่ทั่วโลก
        </p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h3 class="h2">ใช้ฟรีได้ทุกที่</h3>
        <p>ทุกฟอนต์ใช้งานเชิงพาณิชย์ได้</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h3 class="h2">ดาวน์โหลด</h3>
        <p>
          ไม่ได้ทำเว็บไซต์? ดาวน์โหลดฟอนต์ไปติดตั้งเพื่อใช้งานบนอุปกรณ์ของคุณ
        </p>
      </div>
    </div>
  </article>
{{ end }}
