{{ define "main" }}
  <article>
    <div class="text-center">
      <h1>รวมฟอนต์ภาษาไทย พร้อมใช้งานผ่าน CDN</h1>
      {{ .Content }}
    </div>
    <div class="row g-2 justify-content-center mt-4">
      <div class="col-12 col-sm-auto">
        <a class="btn btn-lg btn-primary w-100" href="/fonts/" role="button"
          >ดูฟอนต์ทั้งหมด</a
        >
      </div>
      <div class="col-12 col-sm-auto">
        <a
          class="btn btn-lg btn-outline-secondary w-100"
          href="/docs/getting-started/"
          role="button"
          >เริ่มต้นใช้งาน</a
        >
      </div>
    </div>
    {{ partialCached "index-features.html" . }}
    {{ partialCached "popular-fonts.html" . }}
  </article>
{{ end }}
