<!DOCTYPE html>
<html lang="th">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <div>
      {{- partial "header.html" . -}}
    </div>
    <div class="container-fluid">
      <div class="row">
        {{- block "sidebar" . }}
          <div class="col-lg-3 col-xxl-2">
            {{ partial "sidebar" . }}
          </div>
        {{- end }}
        <div class="col-lg-9 col-xxl-10 my-4">
          <div
            class="alert alert-danger d-flex align-items-center"
            role="alert"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              class="bi bi-exclamation-triangle-fill me-2 flex-shrink-0"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
            <div>
              <strong>เวอร์ชันทดสอบ</strong>
              ฟอนต์และโค้ดทั้งหมดยังไม่พร้อมใช้งานจริง สำหรับการใช้งานจริง<a
                class="alert-link"
                href="https://thaiwebfonts.lazywasabi.com"
                >ใช้เวอร์ชัน 6.1.1</a
              >
            </div>
          </div>
          {{- block "main" . }}
            <h1>{{ .Title }}</h1>
            <article>
              {{ .Content }}
            </article>
          {{- end }}
        </div>
      </div>
    </div>
    {{ partialCached "script.html" . }}
  </body>
</html>
