@font-face {
  font-family: 'Chulabhorn Likit Display';
  src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/ChulabhornLikitDisplay/ChulabhornLikitDisplay-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
