{{ define "sidebar" }}
<div></div>
{{ end }}

{{ define "main" }}
  <article class="text-break">
    <h1 class="h2">{{ .Title }}</h1>
    <div class="mt-3">
      <p class="fs-5">การดาวน์โหลดของคุณจะเริ่มในไม่ช้า หากไม่มีอะไรเกิดขึ้น<a class="download-link" href="#">คลิกที่นี่</a></p>
      <p class="fs-5 mt-4 align-items-baseline d-flex gap-2">
        ดาวน์โหลดเสร็จแล้ว? <a class="link-danger" href="#" onclick="window.close();">ปิดหน้านี้</a>
      </p>
    </div>
  </article>
  <script>
    function downloadFont() {
      const title = document.querySelector("h1");
      const fileName = document.querySelector(".file-name");
      const url = new URL(window.location)
      const downloadFont = window.location.pathname.split("/").pop() || url.searchParams.get("font");
      const downloadURL = "/dl/" + downloadFont + ".zip"
      const downloadLink = document.querySelector(".download-link");

      title.innerText = "ดาวน์โหลดไฟล์ " + downloadFont + ".zip";
      downloadLink.setAttribute("href", downloadURL);

      window.setTimeout(function(){
        if (url.searchParams.get("redirect") === '0') {
          return; 
        } else {
          window.location.href = downloadURL;
        }
      }, 2000);
    }
    downloadFont();
  </script>
{{ end }}
