{{ define "sidebar" }}
<div></div>
{{ end }}

{{ define "main" }}
  <article class="text-break">
    <h1 class="h2 fs-3">{{ .Title }}</h1>
    <div class="mt-3">
      <p>หากไม่มีอะไรเกิดขึ้น<a class="download-link" href="#">คลิกที่นี่</a></p>
    </div>
  </article>
  <style>
    body {
      padding: 0;
    }
    .twf-header {
      display: none;
    }
  </style>
  <script>
    function downloadFont() {
      const title = document.querySelector("h1");
      const fileName = document.querySelector(".file-name");
      const url = new URL(window.location)
      const downloadFont = window.location.pathname.split("/").pop() || url.searchParams.get("font");
      const downloadURL = "https://fonts-files.shabu.dev/" + downloadFont + ".zip"
      const downloadLink = document.querySelector(".download-link");

      title.innerText = "กำลังดาวน์โหลดไฟล์ " + downloadFont + ".zip";
      downloadLink.setAttribute("href", downloadURL);

      window.setTimeout(function(){
        if (url.searchParams.get("redirect") === '0') {
          return; 
        } else {
          window.location.href = downloadURL;
        }
      }, 1000);
    }
    downloadFont();
  </script>
{{ end }}
