{{ define "main" }}
  <div>
    <div class="row justify-content-between align-items-center">
      <div class="col">
        <h1>{{ .Title }}</h1>
      </div>
      <div class="col col-sm-4 col-md-3 col-xl-2">
        <form class="search-form" method="dialog">
          <input class="form-control search-input" type="search" placeholder="ค้นหาฟอนต์" autocomplete="off" size="32" aria-label="ค้นหาฟอนต์">
        </form>
      </div>
    </div>
    <div class="font-list-preview-alert alert alert-primary mt-3 mb-0 d-none" role="alert" onclick="loadPreviewFonts()" style="cursor: pointer;">
      คลิกที่นี่เปิดการแสดงตัวอย่างฟอนต์ (ใช้พื้นที่ประมาณ 3 MB)
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 gy-4 mt-2"
    >
      {{ range .Pages }}
        <div class="col font-list-item" data-tag="{{ .Params.font.title }} {{ .Params.font.titleThai }} type:{{ .Params.font.type }} {{ with .Params.font.variable }}variable{{ end }}">
          <div class="card" id="{{ .Title | urlize }}">
            <a class="text-decoration-none" href="{{ .RelPermalink }}">
              <div class="card-body">
                <div class="mb-3 font-list-preview d-none" data-style="font-family: '{{ .Params.font.title }}';">
                  <p class="fs-1 text-truncate m-0 text-body">{{ .Params.font.titleThai }}</p>
                </div>
                <h2 class="card-title text-body text-truncate h6 lh-base m-0">
                  {{ .Title }}
                  {{ if .Params.font.variable }}
                    <span
                      class="badge text-bg-secondary py-1"
                      title="Variable fonts"
                      >VF</span
                    >
                  {{ end }}
                  {{ with .Params.badge }}
                    <span class="badge {{ .class }} py-1" title="Variable fonts"
                      >{{ .text }}</span
                    >
                  {{ end }}
                </h2>
              </div>
            </a>
          </div>
        </div>
        {{ partial "font/font-face-preview.html" . }}
      {{ end }}
    </div>
    <div class="card no-result d-none text-center">
      <div class="card-body">
        <h2 class="card-title text-body h4 mb-3">ไม่พบฟอนต์</h2>
        <button type="button" class="btn btn-outline-secondary" onclick="searchFonts('')">ดูฟอนต์ทั้งหมด</button>
      </div>
    </div>
  </div>
{{ end }}
