{{ define "main" }}
  <div>
    <h1>{{ .Title }}</h1>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 gy-4 mt-2"
    >
      {{ range .Pages }}
        <div class="col">
          <div class="card" id="{{ .Title | urlize }}">
            <a class="text-decoration-none" href="{{ .RelPermalink }}">
              <div class="card-body">
                <h2 class="card-title text-body text-truncate h6 lh-base m-0">
                  {{ .Title }}
                  {{ if .Params.font.variable }}
                    <span
                      class="badge text-bg-secondary py-1"
                      title="Variable fonts"
                      >VF</span
                    >
                  {{ end }}
                  {{ with .Params.badge }}
                    <span class="badge {{ .class }} py-1" title="Variable fonts"
                      >{{ .text }}</span
                    >
                  {{ end }}
                </h2>
              </div>
            </a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
