body,
.gdoc-header,
.gdoc-error__title {
  font-family: 'Noto Sans Thai Looped', 'Anuphan', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anuphan', system-ui, sans-serif;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

.gdoc-markdown {
  overflow-wrap: break-word;
}

.font-preview-content {
  margin-top: 0.5em;
  padding: 0.5em;
  line-height: 1.5;
  background: var(--code-background);
}

.font-preview-settings {
  display: flex;
}

.font-preview-settings .font-preview-settings-size {
  display: flex;
  flex: 1 1 50%;
  margin-right: 1.25em;
}

.font-preview-settings .font-preview-settings-weight {
  display: flex;
  flex: 1 1 50%;
}

.font-preview-settings label {
  flex: 0 0 auto;
  margin-right: 1em;
}

.font-preview-settings :is(input, select) {
  width: 100%;
}

@media screen and (max-width: 45rem) {
  .font-preview-settings {
    flex-direction: column;
  }

  .font-preview-settings .font-preview-settings-size {
    margin: 0 0 0.5em 0;
  }

  .font-preview-settings label {
    flex: 0 0 6.5em;
    margin: 0;
  }
}
