<p
  class="codepen"
  data-height="650"
  data-theme-id="dark"
  data-default-tab="result"
  data-slug-hash="zYEgaMW"
  data-user="lazywasabi"
  style="height: 650px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
>
  <span
    >See the Pen
    <a href="https://codepen.io/lazywasabi/pen/zYEgaMW">
      Thai Web Fonts Preview</a
    >
    by LazyWasabi (<a href="https://codepen.io/lazywasabi">@lazywasabi</a>) on
    <a href="https://codepen.io">CodePen</a>.</span
  >
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
